* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-900);
    color: var(--white);

}

body, input, button, textarea, select {
    font: 400 1rem 'Roboto', sans-serif;
}

button, a{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}