        
.wrapper{
    background-color: cornflowerblue;
    padding: 1rem;

  a{
    padding: 1rem;
  }

    //?implementação do SASS
 /*    .container{
        background-color: red;        
        max-width: 80%;
        margin-inline: auto;

       /*  a{
            color: aqua;

            &:hover{
                color: blueviolet;
            }
        }
        a + a{
            color: darkblue;

            &:hover{
                color: tomato;
            }
        } */
    //}
        //?implementação do SASS

}
